.navbar-size {
    width: 100%;
    margin: 0 auto;
    background-color: #08a3a8;
  }
  .user-image-size {
    height: 50px;
    width: 50px;
    margin: 4px 0;
  }
  .main-body {
    background-color: #72d5d8;
    color: white;
    /* height: 100%; */
  }
  .materialboxed-image {
    margin: 0 auto;
    height: 200px;
    width: 200px;
  }
  .click-me-button {
    background-color: #1493756c;
    margin-top: 50px;
  }
  .card-text {
    color: #212121
  }
  .card-content{
    background-color: #ffffff;
    height: 435px;
    width: 332px;
  }
  
  